$font-card-text-color: #4B5563;

.favorite {
    width: 100%;
    padding: 4rem 2rem;

    h2 {
        text-align: center;
        color: $primary-color;        
    }

    &-list {
        margin-top: 2rem;
        @include d-flex($align-items: stretch, $wrap: wrap);
    }
    
    .list-card {
        @include card();
        width: 20rem;
        margin: 0 2rem;
        overflow: hidden;
        margin-bottom: 2rem;

        img {
            @include image($width: 100%, $height: 15rem);
        }

        &-body {
            padding: 1.2rem;
            display: grid;
            row-gap: 1rem;
            position: relative;
        }

        &-title {
            color: $primary-color;
            @include d-flex(flex-start);
            text-decoration: none;
            font-weight: 500;
        }

        &-location {
            color: $info-color;

            span {
                margin-left: 0.5rem;
            }
        }

        &-rating {
            color: $warning-color;

            span {
                margin-left: 0.5rem;
            }
        }

        &-text {
            font-weight: 400;
            max-height: 4rem;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-bottom: 3.2rem;
        }

        &-detail {
            width: 5rem;
            height: 44px;
            @include elm-position(absolute, $bot: 1.2rem, $right: 1.2rem);

            a {
                @include d-flex();
                color: $info-color;

                &:hover,
                &:focus {
                    color: darken($info-color, 30%);
                }
            }
        }
    }
}