$reservation-text-color: #4B5563;

.reservation {
    width: 100%;
    padding: 1rem 2rem;
    @include d-flex(space-evenly, start);
    
    @media screen and (max-width: 768px) {
        @include d-flex(start, start, column);
    }

    &-header {
        width: 40%;

        @media screen and (max-width: 768px) {
            width: 100%;
            text-align: center;
            margin-bottom: 2rem;
        }

        h2 {
            color: $primary-color;
            margin: 2rem 0 1rem;
        }

        p {
            line-height: 1.7rem;
            color: $reservation-text-color;
        }
    }

    &-body {
        width: 40%;

        @media screen and (max-width: 768px) {
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    .form-group {
        width: 100%;
        display: flex;        
        display: grid;
        grid-template-rows: repeat(2, minmax(1rem, 2rem));
        margin-bottom: 2rem;

        label {
            color: $reservation-text-color;

            .important-form {
                color: $danger-color;
            }
        }

        .form-control {
            border-radius: $border-radius-size;
            min-width: 44px;
            min-height: 44px;
            border: 1px solid #E5E7EB;
            padding: 0.2rem 0.6rem;
            color: $reservation-text-color;

            &:focus {
                outline: none;
                border: 1px solid $info-color;
            }
        }

        textarea {
            resize: none;
        }

        .reservation--btn {
            @include button($primary-color, white);
            text-align: center;            
        }
    }
}
