.alert {
    padding: 1rem;
    text-align: center;
    @include card();
    @include elm-position(fixed, $right: 0, $bot: 2.5rem, $z-index: 9);
    
    @media screen and (max-width: 768px) {
        left: 0;
    }

    &.success {
        background: $success-color;
        color: white;
    }

    &.danger {
        background: $danger-color;
        color: white;
    }
}