<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#EF4444"/>
    <title>Restofy</title>
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/android/android-launchericon-192-192.png">
    <link rel="icon" href="favicon.png">
</head>
<body>
    <a href="#maincontent" id="skip-content">Skip To Content</a>
    
    <!-- Navbar -->
    <nav>
        <div class="logo">
            Restofy
        </div>
        <a href="#" id="menu-btn" aria-label="navigation-menu">&#9776;</a>
        
        <ul>
            <li><a href="#/">Home</a></li>
            <li><a href="#/favorite">Favorite</a></li>
            <li><a href="#reservation">Reservations</a></li>
            <li><a href="https://github.com/rizkyalam">About Us</a></li>
        </ul>
    </nav>
    <!-- /Navbar -->

    <!-- Jumbotron -->
    <header class="jumbotron">
        <picture>
            <source media="(max-width: 600px)" srcset="./images/heros/hero-image_2-small.jpg">
            <img src="./images/heros/hero-image_2-large.jpg" alt="">
        </picture>
        <div class="content">
            <h1>Welcome to Restofy</h1>
            <p>Good Food Makes Your Life Feel Better</p>
        </div>
    </header>
    <!-- /Jumbotron -->

    <!-- Main Content -->
    <main id="maincontent"></main>
    <!-- /Main Content -->
    
    <footer>
        <p>copyright &copy; 2021 - Restofy</p>
    </footer>
</body>
</html>
