<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restofy</title>
</head>
<body>
    <a href="#maincontent" id="skip-content">Skip To Content</a>
    
    <!-- Navbar -->
    <nav>
        <div class="logo">
            Restofy
        </div>
        <a href="#" id="menu-btn">
            <i class="fas fa-align-right"></i>
        </a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Favorite</a></li>
            <li><a href="#reservation">Reservations</a></li>
            <li><a href="https://github.com/rizkyalam">About Us</a></li>
        </ul>
    </nav>
    <!-- /Navbar -->

    <!-- Jumbotron -->
    <header class="jumbotron">
        <img src="./images/heros/hero-image_2.jpg" width="450" alt="">
        <div class="content">
            <h1>Welcome to Restofy</h1>
            <p>Good Food Makes Your Life Feel Better</p>
        </div>
    </header>
    <!-- /Jumbotron -->

    <!-- Main Content -->
    <main id="maincontent">
        <!-- Explore Restaurant -->
        <section class="explore">
            <h2>Explore Restaurant</h2>
            
            <!-- list of restaurant -->
            <div class="explore-list"></div>
            
            <div class="explore-more">
                <button class="explore-more--btn">Load More</button>
            </div>
            <!-- /list of restaurant -->
            
        </section>
        <!-- /Explore Restaurant -->

        <!-- Reservations -->
        <section class="reservation" id="reservation">
            <div class="reservation-header">
                <h2>Reservations</h2>
                <p>You can reserve a table from our website. We recommended making reservations at least 5 days in advance</p>
            </div>
            <div class="reservation-body">
                <form action="">
                    <!-- Fullname Form  -->
                    <div class="form-group">
                        <label for="full-name">
                            Full Name 
                            <span class="important-form">*</span>
                        </label>
                        <input type="text" class="form-control" id="full-name" required>
                    </div>
                    <!-- /Fullname Form  -->

                    <!-- Phone number Form  -->
                    <div class="form-group">
                        <label for="phone">
                            Phone Number
                            <span class="important-form">*</span>
                        </label>
                        <input type="text" class="form-control" id="phone" required>
                    </div>
                    <!-- /Phone number Form  -->

                    <!-- Email Address Form  -->
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" class="form-control" id="email" required>
                    </div>
                    <!-- /Email Address Form  -->

                    <!-- Date Form  -->
                    <div class="form-group">
                        <label for="date">
                            Date
                            <span class="important-form">*</span>
                        </label>
                        <input type="date" class="form-control" id="date" required>
                    </div>
                    <!-- /Phone number Form  -->

                    <!-- Number of Guests Form  -->
                    <div class="form-group">
                        <label for="guest">
                            Number of Guests
                            <span class="important-form">*</span>
                        </label>
                        <input type="number" class="form-control" id="guest" required>
                    </div>
                    <!-- /Number of Guests Form  -->

                    <!-- Comments Form  -->
                    <div class="form-group">
                        <label for="comment">Comments</label>
                        <input type="text" class="form-control" id="comment" required>
                    </div>
                    <!-- /Comments Form  -->

                    <!-- Submit -->
                    <div class="form-group">
                        <button type="submit" class="reservation--btn">Submit</button>
                    </div>
                    <!-- /Submit -->
                </form>
            </div>
        </section>
        <!-- /Reservations -->

    </main>
    <!-- /Main Content -->

    <footer>
        <p>copyright &copy; 2021 - Restofy</p>
    </footer>

</body>
</html>
