@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

// variables
$bg-color: #F9FAFB;
$font: 'Rubik', sans-serif;
$primary-color: #EF4444;
$secondary-color: #D1D5DB;
$success-color: #34D399;
$danger-color: darken($primary-color, 10%);
$warning-color: #FCD34D;
$info-color: #60A5FA;
$border-radius-size: 0.125rem;

/* 
	Reset CSS
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/

* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: $font;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
    background: $bg-color;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	min-width: 44px;
	min-height: 44px;
	@include d-flex();
}

a#skip-content {
	@include elm-position(fixed, $top: -60px, $left: 0);
	@include button($danger-color, white);
	text-decoration: none;
	z-index: 2;

	// override focus from button mixin
	&:focus {
		top: 0;
	}
}